<% const d = new Date()
let year = d.getFullYear() %>
<footer>
    <a href="../../inv/error">error</a>
    <p class="copyright">&copy; <%=year%>, CSE 340</p>
    <script src='/js/script.js'></script>
</footer>