<section id="titleContent">
    <h1>Welcome to CSE Motors!</h1>
    <div id="dmc">
        <div id="dmc_text">
            <h2>DMC Delorian</h2>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
        </div>
        <img id="dmc_btn" src="/images/site/own_today.png" alt="own today button">
    </div>
    
</section>

<section id="mainContent">
    <div id="upgrades">
        <h3>Delorean Upgrades</h3>
        <div class="items_holder">
            <div class="upgradeItem">
                <div class="imageContainer">
                    <img src="/images/upgrades/flux-cap.png" alt="flux Capacitor icon">
                </div>
                <div>
                    <a href="#" class="upgrade_link">Flux Capacitor</a>
                </div>
            </div>

            <div class="upgradeItem">
                <div class="imageContainer">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals icon">
                </div>
                <div>
                    <a href="#" class="upgrade_link">Flame Decals</a>
                </div>
            </div>

            <div class="upgradeItem">
                <div class="imageContainer">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers icon">
                </div>
                <a href="#" class="upgrade_link">Bumper Stickers</a>
            </div>

            <div class="upgradeItem">
                <div class="imageContainer">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps icon">
                </div>
                <a href="#" class="upgrade_link">Hub Caps</a>
            </div>
        </div>
    </div>
    <div id="reviews">
        <h3>DMC Delorean Reviews</h3>
        <nav id="reviews_list">
            <ul>
                <li>"So fast it's almost like travelling in time."(4/5)</li>
                <li>"Coolest ride on the road."(4/5)</li>
                <li>"I'm feeling McFly!(5/5)"</li>
                <li>"The most futuristic ride of oue day.(4.5/5)"</li>
                <li>"80's living and I love it!(5/5)"</li>
            </ul>
        </nav>
    </div>
</section>